/* База для мобильных */
body { background-color: #dedede; text-align: center; font-family: Arial; padding: 20px; }
div { display: block; width: 90%; margin: 15px auto; background: white; padding: 15px; border-radius: 8px; }
div img { width: 150px; height: 150px; display: block; margin: 0 auto 10px; }

/* Планшет (2 колонки) */
@media all and (min-width: 772px) {
    div { display: inline-block; width: 44vw; vertical-align: top; margin: 1%; }
    img { max-height: 30vh; }
}

/* Десктоп (3 колонки) */
@media all and (min-width: 998px) {
    div { width: 30vw; }
}
